<!DOCTYPE html>
<html>
<head>
    <title>Display Post</title>
    <style>
        body {
            font-family: "San Francisco", Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }

        p {
            color: #999;
        }
    </style>
</head>
<body>

    <h1>Display Post</h1>
    <div id="display"></div>

</body>
</html>
